@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;600;800&display=swap');

* {
	margin: 1;
	padding: 1;
}

.menu{
    font-family: "Montserrat";
    font-size: 600;
}

.parrafo {
        font-family: "Montserrat";
        font-weight: 300;
        position: flex;
        display: row;
        text-align: center;
    }

.titulo{
        @extend .parrafo
 }

.btn{
    font-size: 1.5rem;
    border-radius: 0.5rem;
    color: white;
    background-color: red;
}

.aclaracion{
    @extend .parrafo
}

@mixin textos($colores) {
    font-family: "Montserrat";
    font-weight: 300;
    position: flex;
    display: row;
    text-align: center;
    color: $colores
}

.parrafo{
    @include textos(aqua);
}

.informacion{
    @include textos(red);
}

.aclaracion{
    @include textos(blue);
}



